body {
	background-image: url(../images/background.jpg);
	background-size: cover;
}

#duelText {
	text-align: right;
}

.container {
	width: 100%;
	padding-top: 20px;
	padding-right: 30px;
	padding-left: 30px;
}


.progress {
	padding: 0;
	margin: 0;
}

h1 {
	color: white;
}