body {
	background-image: url(../images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-color: black;
}

#duelText {
	text-align: right;
}

.container {
	width: 100%;
	padding-top: 20px;
	padding-right: 30px;
	padding-left: 30px;
}


.progress {
	padding: 0;
	margin: 0;
}

h1 {
	color: white;
}

.message {
	color: teal;
	font-size: 30px;
	margin-top: 20px;
}




/*bars: this section is for the health and attack bars*/
.jarJarHealth {
	width: 100%;
}
.jarJarAttack {
	width: 1%;
}

.obiWanHealth {
	width: 70%;
}
.obiWanAttack {
	width: 50%;
}

.anakinHealth {
	width: 60%;
}
.anakinAttack {
	width: 60%;
}

.maceWinduHealth {
	width: 50%;
}
.maceWinduAttack {
	width: 70%;
}
/*=====================================================*/